In [1]:
%pip install dbfread

Requirement already satisfied: dbfread in c:\users\quipu-q2005e-24\appdata\local\programs\python\python313\lib\site-packages (2.0.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from dbfread import DBF
import psycopg2
import csv
from io import StringIO
from datetime import datetime
from dbfread import DBF

In [3]:
import psycopg2
import psycopg2.extras

# Connect to the PostgreSQL database
conn = psycopg2.connect(
    dbname="bytsscom_unmsm",
    user="postgres",
    password="postgres",
    host="localhost",
    port="5432"
)
conn.autocommit = True
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)

In [13]:
from decimal import Decimal

In [52]:
def get_consolidado():
    cur.execute(
    """
  SELECT c.ano_eje as  anio,
       '0000'as cod_siaf_area,
       f.siaf_codigo ,
       c.certificado,
       sum(cm.monto_nacional)             AS MONTO_CLASIFICADOR

FROM bytsscom_bytsiaf.certificado c
         INNER JOIN bytsscom_bytsiaf.certificado_fase cf
                    ON c.certificado = cf.certificado
         INNER JOIN bytsscom_bytcore.fuente f
                    ON cf.fuente_financ = f.siaf_codigo
                        AND cf.ano_eje = '2025'
         INNER JOIN bytsscom_bytsiaf.certificado_secuencia cs
                    ON c.certificado = cs.certificado
                        AND cf.secuencia = cs.secuencia
                        AND cs.estado_registro = 'A'
                        AND cs.ano_eje = '2025'
         INNER JOIN bytsscom_bytsiaf.certificado_meta cm
                    ON cf.certificado = cm.certificado
                        AND cf.secuencia = cm.secuencia
                        AND cm.ano_eje = '2025'
         LEFT JOIN bytsscom_bytcore.meta_institucional_siaf mt
                    ON cm.sec_func = mt.sec_func
                    AND mt.id_anio = '2025'::int
         INNER JOIN bytsscom_bytcore.meta_institucional mp
                    ON mt.id_meta_institucional = mp.id_meta_institucional
         INNER JOIN bytsscom_bytcore.clasificador cla
                    ON substring(cm.sys_cod_clasif, 1, 2) = cla.cod_clasif
         LEFT JOIN (SELECT distinct c.id_certificacion,
                                    m.id_area
                    FROM bytsscom_bytsig.vw_certificacion c
                             inner join bytsscom_bytsig.memo_requerimiento m
                                        on c.id_memo_requerimiento = m.id_memo_requerimiento
                    where c.id_anio = 2025
                      AND c.esta_cert = 'A') cert
                   ON cf.sys_id_certificacion = cert.id_certificacion
WHERE c.ano_eje = '2025'
--AND cf.certificado = '0000006928'
GROUP BY c.ano_eje,
         f.siaf_codigo ,
         c.certificado
ORDER BY c.certificado;
    """,)
    return cur.fetchall()

In [53]:
resultados = get_consolidado()
print(resultados)
for fila in resultados:
    print(fila)

[['2025', '0000', '00', '0000000001', Decimal('8406955.48')], ['2025', '0000', '00', '0000000002', Decimal('263809773.38')], ['2025', '0000', '00', '0000000003', Decimal('11412972.00')], ['2025', '0000', '00', '0000000004', Decimal('7976388.27')], ['2025', '0000', '00', '0000000005', Decimal('3561790.72')], ['2025', '0000', '00', '0000000006', Decimal('403200.00')], ['2025', '0000', '00', '0000000007', Decimal('51016520.09')], ['2025', '0000', '09', '0000000008', Decimal('78440.00')], ['2025', '0000', '09', '0000000009', Decimal('100000.00')], ['2025', '0000', '09', '0000000010', Decimal('4000.00')], ['2025', '0000', '09', '0000000011', Decimal('20000.00')], ['2025', '0000', '09', '0000000012', Decimal('50000.00')], ['2025', '0000', '09', '0000000013', Decimal('50000.00')], ['2025', '0000', '09', '0000000014', Decimal('10000.00')], ['2025', '0000', '09', '0000000015', Decimal('22000.00')], ['2025', '0000', '09', '0000000016', Decimal('20000.00')], ['2025', '0000', '09', '0000000017', Decimal('20000.00')], ['2025', '0000', '09', '0000000018', Decimal('20000.00')], ['2025', '0000', '09', '0000000019', Decimal('30000.00')], ['2025', '0000', '09', '0000000020', Decimal('20000.00')], ['2025', '0000', '09', '0000000021', Decimal('30000.00')], ['2025', '0000', '09', '0000000022', Decimal('40000.00')], ['2025', '0000', '09', '0000000023', Decimal('24000.00')], ['2025', '0000', '09', '0000000024', Decimal('32000.00')], ['2025', '0000', '09', '0000000025', Decimal('10000.00')], ['2025', '0000', '09', '0000000026', Decimal('30000.00')], ['2025', '0000', '09', '0000000027', Decimal('60000.00')], ['2025', '0000', '09', '0000000028', Decimal('9000.00')], ['2025', '0000', '09', '0000000029', Decimal('20000.00')], ['2025', '0000', '09', '0000000030', Decimal('20000.00')], ['2025', '0000', '09', '0000000031', Decimal('120000.00')], ['2025', '0000', '09', '0000000032', Decimal('40000.00')], ['2025', '0000', '09', '0000000033', Decimal('10000.00')], ['2025', '0000', '09', '0000000034', Decimal('20000.00')], ['2025', '0000', '09', '0000000035', Decimal('24000.00')], ['2025', '0000', '09', '0000000036', Decimal('54000.00')], ['2025', '0000', '09', '0000000037', Decimal('50000.00')], ['2025', '0000', '09', '0000000038', Decimal('40000.00')], ['2025', '0000', '09', '0000000039', Decimal('20000.00')], ['2025', '0000', '09', '0000000040', Decimal('30000.00')], ['2025', '0000', '09', '0000000041', Decimal('12000.00')], ['2025', '0000', '09', '0000000042', Decimal('40000.00')], ['2025', '0000', '09', '0000000043', Decimal('20000.00')], ['2025', '0000', '09', '0000000044', Decimal('40000.00')], ['2025', '0000', '09', '0000000045', Decimal('30000.00')], ['2025', '0000', '09', '0000000046', Decimal('30000.00')], ['2025', '0000', '09', '0000000047', Decimal('20000.00')], ['2025', '0000', '09', '0000000048', Decimal('40000.00')], ['2025', '0000', '09', '0000000049', Decimal('14000.00')], ['2025', '0000', '09', '0000000050', Decimal('8000.00')], ['2025', '0000', '09', '0000000051', Decimal('16000.00')], ['2025', '0000', '09', '0000000052', Decimal('18000.00')], ['2025', '0000', '09', '0000000053', Decimal('6000.00')], ['2025', '0000', '09', '0000000054', Decimal('4000.00')], ['2025', '0000', '09', '0000000055', Decimal('6000.00')], ['2025', '0000', '09', '0000000056', Decimal('10000.00')], ['2025', '0000', '09', '0000000057', Decimal('10000.00')], ['2025', '0000', '09', '0000000058', Decimal('12000.00')], ['2025', '0000', '09', '0000000059', Decimal('2000.00')], ['2025', '0000', '09', '0000000060', Decimal('6000.00')], ['2025', '0000', '09', '0000000061', Decimal('30000.00')], ['2025', '0000', '09', '0000000062', Decimal('90000.00')], ['2025', '0000', '09', '0000000064', Decimal('14943602.58')], ['2025', '0000', '09', '0000000065', Decimal('619200.00')], ['2025', '0000', '09', '0000000066', Decimal('1660659.92')], ['2025', '0000', '09', '0000000067', Decimal('2000000.00')], ['2025', '0000', '09', '0000000068', Decimal('34782346.76')], ['2025', '0000', '09', '0000000069', Decimal('2441.00')], ['2025', '0000', '09', '0000000070', Decimal('380.00')], ['2025', '0000', '09', '0000000071', Decimal('380.00')], ['2025', '0000', '09', '0000000072', Decimal('1920.00')], ['2025', '0000', '09', '0000000073', Decimal('1920.00')], ['2025', '0000', '09', '0000000074', Decimal('1920.00')], ['2025', '0000', '09', '0000000075', Decimal('380.00')], ['2025', '0000', '09', '0000000076', Decimal('1600.00')], ['2025', '0000', '09', '0000000077', Decimal('3200.00')], ['2025', '0000', '09', '0000000078', Decimal('82390.00')], ['2025', '0000', '09', '0000000079', Decimal('4746541.74')], ['2025', '0000', '09', '0000000081', Decimal('13920.00')], ['2025', '0000', '09', '0000000082', Decimal('27840.00')], ['2025', '0000', '09', '0000000083', Decimal('24960.00')], ['2025', '0000', '09', '0000000084', Decimal('27360.00')], ['2025', '0000', '09', '0000000085', Decimal('15840.00')], ['2025', '0000', '09', '0000000086', Decimal('24960.00')], ['2025', '0000', '09', '0000000087', Decimal('24960.00')], ['2025', '0000', '09', '0000000088', Decimal('24960.00')], ['2025', '0000', '09', '0000000089', Decimal('23520.00')], ['2025', '0000', '09', '0000000090', Decimal('16800.00')], ['2025', '0000', '09', '0000000091', Decimal('31200.00')], ['2025', '0000', '09', '0000000092', Decimal('22560.00')], ['2025', '0000', '09', '0000000093', Decimal('13200.00')], ['2025', '0000', '09', '0000000094', Decimal('15840.00')], ['2025', '0000', '09', '0000000095', Decimal('13200.00')], ['2025', '0000', '09', '0000000096', Decimal('5000.00')], ['2025', '0000', '09', '0000000097', Decimal('4000.00')], ['2025', '0000', '09', '0000000098', Decimal('4000.00')], ['2025', '0000', '09', '0000000099', Decimal('41200.00')], ['2025', '0000', '09', '0000000100', Decimal('16000.00')], ['2025', '0000', '09', '0000000101', Decimal('6708379.80')], ['2025', '0000', '00', '0000000102', Decimal('70000.00')], ['2025', '0000', '09', '0000000103', Decimal('8100.00')], ['2025', '0000', '09', '0000000104', Decimal('7800.00')], ['2025', '0000', '09', '0000000105', Decimal('8100.00')], ['2025', '0000', '09', '0000000106', Decimal('8100.00')], ['2025', '0000', '09', '0000000107', Decimal('8100.00')], ['2025', '0000', '09', '0000000108', Decimal('8100.00')], ['2025', '0000', '09', '0000000109', Decimal('8100.00')], ['2025', '0000', '09', '0000000110', Decimal('8100.00')], ['2025', '0000', '09', '0000000111', Decimal('8100.00')], ['2025', '0000', '09', '0000000112', Decimal('11100.00')], ['2025', '0000', '09', '0000000113', Decimal('8700.00')], ['2025', '0000', '09', '0000000114', Decimal('12000.00')], ['2025', '0000', '09', '0000000115', Decimal('10200.00')], ['2025', '0000', '09', '0000000116', Decimal('2000.00')], ['2025', '0000', '09', '0000000117', Decimal('8100.00')], ['2025', '0000', '09', '0000000118', Decimal('20000.00')], ['2025', '0000', '09', '0000000119', Decimal('0.00')], ['2025', '0000', '09', '0000000120', Decimal('12000.00')], ['2025', '0000', '09', '0000000121', Decimal('4000.00')], ['2025', '0000', '09', '0000000122', Decimal('10000.00')], ['2025', '0000', '09', '0000000123', Decimal('20000.00')], ['2025', '0000', '09', '0000000124', Decimal('0.00')], ['2025', '0000', '09', '0000000125', Decimal('3000.00')], ['2025', '0000', '09', '0000000126', Decimal('10000.00')], ['2025', '0000', '09', '0000000127', Decimal('10000.00')], ['2025', '0000', '09', '0000000128', Decimal('10000.00')], ['2025', '0000', '09', '0000000129', Decimal('2000.00')], ['2025', '0000', '09', '0000000130', Decimal('6000.00')], ['2025', '0000', '09', '0000000131', Decimal('3000.00')], ['2025', '0000', '09', '0000000132', Decimal('7000.00')], ['2025', '0000', '09', '0000000133', Decimal('6000.00')], ['2025', '0000', '09', '0000000134', Decimal('26280.00')], ['2025', '0000', '09', '0000000135', Decimal('27360.00')], ['2025', '0000', '09', '0000000136', Decimal('17280.00')], ['2025', '0000', '09', '0000000137', Decimal('36480.00')], ['2025', '0000', '09', '0000000138', Decimal('22560.00')], ['2025', '0000', '09', '0000000139', Decimal('4000.00')], ['2025', '0000', '09', '0000000140', Decimal('10000.00')], ['2025', '0000', '09', '0000000141', Decimal('10242494.40')], ['2025', '0000', '09', '0000000142', Decimal('2400.00')], ['2025', '0000', '09', '0000000143', Decimal('3000.00')], ['2025', '0000', '09', '0000000144', Decimal('2400.00')], ['2025', '0000', '09', '0000000145', Decimal('35520.00')], ['2025', '0000', '09', '0000000146', Decimal('21120.00')], ['2025', '0000', '09', '0000000147', Decimal('32640.00')], ['2025', '0000', '09', '0000000148', Decimal('26400.00')], ['2025', '0000', '09', '0000000149', Decimal('28800.00')], ['2025', '0000', '09', '0000000150', Decimal('20160.00')], ['2025', '0000', '09', '0000000151', Decimal('3000.00')], ['2025', '0000', '00', '0000000152', Decimal('331000.00')], ['2025', '0000', '09', '0000000153', Decimal('3600.00')], ['2025', '0000', '09', '0000000154', Decimal('3000.00')], ['2025', '0000', '09', '0000000155', Decimal('2600.00')], ['2025', '0000', '09', '0000000156', Decimal('2400.00')], ['2025', '0000', '09', '0000000157', Decimal('2600.00')], ['2025', '0000', '09', '0000000158', Decimal('3000.00')], ['2025', '0000', '09', '0000000159', Decimal('2400.00')], ['2025', '0000', '09', '0000000160', Decimal('2400.00')], ['2025', '0000', '09', '0000000161', Decimal('1220.00')], ['2025', '0000', '09', '0000000162', Decimal('3600.00')], ['2025', '0000', '09', '0000000163', Decimal('3000.00')], ['2025', '0000', '09', '0000000164', Decimal('2600.00')], ['2025', '0000', '09', '0000000165', Decimal('2800.00')], ['2025', '0000', '09', '0000000166', Decimal('2800.00')], ['2025', '0000', '09', '0000000167', Decimal('3000.00')], ['2025', '0000', '09', '0000000168', Decimal('3000.00')], ['2025', '0000', '09', '0000000169', Decimal('3000.00')], ['2025', '0000', '09', '0000000170', Decimal('3000.00')], ['2025', '0000', '09', '0000000171', Decimal('2800.00')], ['2025', '0000', '09', '0000000172', Decimal('2400.00')], ['2025', '0000', '09', '0000000173', Decimal('6000.00')], ['2025', '0000', '09', '0000000174', Decimal('7200.00')], ['2025', '0000', '09', '0000000175', Decimal('7200.00')], ['2025', '0000', '09', '0000000176', Decimal('7200.00')], ['2025', '0000', '09', '0000000177', Decimal('12000.00')], ['2025', '0000', '09', '0000000178', Decimal('7200.00')], ['2025', '0000', '09', '0000000179', Decimal('7200.00')], ['2025', '0000', '09', '0000000180', Decimal('2600.00')], ['2025', '0000', '09', '0000000181', Decimal('2600.00')], ['2025', '0000', '09', '0000000182', Decimal('2400.00')], ['2025', '0000', '09', '0000000183', Decimal('2600.00')], ['2025', '0000', '00', '0000000184', Decimal('2156519.26')], ['2025', '0000', '00', '0000000185', Decimal('363600.00')], ['2025', '0000', '13', '0000000186', Decimal('2724397.32')], ['2025', '0000', '09', '0000000187', Decimal('10000.00')], ['2025', '0000', '09', '0000000193', Decimal('19200.00')], ['2025', '0000', '09', '0000000194', Decimal('90000.00')], ['2025', '0000', '09', '0000000195', Decimal('90000.00')], ['2025', '0000', '09', '0000000196', Decimal('90000.00')], ['2025', '0000', '09', '0000000197', Decimal('90000.00')], ['2025', '0000', '09', '0000000199', Decimal('6000.00')], ['2025', '0000', '09', '0000000200', Decimal('7200.00')], ['2025', '0000', '09', '0000000201', Decimal('7200.00')], ['2025', '0000', '09', '0000000203', Decimal('20400.00')], ['2025', '0000', '09', '0000000204', Decimal('22800.00')], ['2025', '0000', '09', '0000000205', Decimal('20400.00')], ['2025', '0000', '09', '0000000206', Decimal('22800.00')], ['2025', '0000', '09', '0000000207', Decimal('22800.00')], ['2025', '0000', '09', '0000000208', Decimal('22800.00')], ['2025', '0000', '09', '0000000214', Decimal('8696.00')], ['2025', '0000', '09', '0000000215', Decimal('3200.00')], ['2025', '0000', '09', '0000000216', Decimal('6000.00')], ['2025', '0000', '09', '0000000217', Decimal('3600.00')], ['2025', '0000', '09', '0000000218', Decimal('3200.00')], ['2025', '0000', '09', '0000000219', Decimal('36000.00')], ['2025', '0000', '09', '0000000220', Decimal('4200.00')], ['2025', '0000', '09', '0000000221', Decimal('3200.00')], ['2025', '0000', '09', '0000000223', Decimal('18000.00')], ['2025', '0000', '09', '0000000224', Decimal('18000.00')], ['2025', '0000', '09', '0000000225', Decimal('18000.00')], ['2025', '0000', '09', '0000000226', Decimal('18000.00')], ['2025', '0000', '09', '0000000227', Decimal('18000.00')], ['2025', '0000', '09', '0000000228', Decimal('9000.00')], ['2025', '0000', '09', '0000000229', Decimal('18000.00')], ['2025', '0000', '09', '0000000230', Decimal('18000.00')], ['2025', '0000', '09', '0000000231', Decimal('3000.00')], ['2025', '0000', '09', '0000000232', Decimal('3400.00')], ['2025', '0000', '09', '0000000233', Decimal('3020.80')], ['2025', '0000', '09', '0000000234', Decimal('3600.00')], ['2025', '0000', '09', '0000000235', Decimal('6000.00')], ['2025', '0000', '09', '0000000236', Decimal('9300.00')], ['2025', '0000', '09', '0000000237', Decimal('8400.00')], ['2025', '0000', '09', '0000000238', Decimal('12750.00')], ['2025', '0000', '09', '0000000239', Decimal('7540.00')], ['2025', '0000', '09', '0000000240', Decimal('7540.00')], ['2025', '0000', '09', '0000000241', Decimal('3600.00')], ['2025', '0000', '09', '0000000242', Decimal('7540.00')], ['2025', '0000', '09', '0000000243', Decimal('7540.00')], ['2025', '0000', '09', '0000000244', Decimal('7540.00')], ['2025', '0000', '09', '0000000245', Decimal('7540.00')], ['2025', '0000', '09', '0000000246', Decimal('28320.00')], ['2025', '0000', '09', '0000000247', Decimal('3200.00')], ['2025', '0000', '09', '0000000248', Decimal('3000.00')], ['2025', '0000', '09', '0000000249', Decimal('4000.00')], ['2025', '0000', '09', '0000000250', Decimal('3400.00')], ['2025', '0000', '09', '0000000251', Decimal('3600.00')], ['2025', '0000', '09', '0000000252', Decimal('6000.00')], ['2025', '0000', '09', '0000000253', Decimal('2260.00')], ['2025', '0000', '09', '0000000254', Decimal('2260.00')], ['2025', '0000', '09', '0000000255', Decimal('2109.36')], ['2025', '0000', '09', '0000000256', Decimal('2260.00')], ['2025', '0000', '09', '0000000257', Decimal('2260.00')], ['2025', '0000', '00', '0000000258', Decimal('0.00')], ['2025', '0000', '09', '0000000259', Decimal('2800.00')], ['2025', '0000', '00', '0000000260', Decimal('1800.00')], ['2025', '0000', '09', '0000000261', Decimal('14000.00')], ['2025', '0000', '09', '0000000262', Decimal('72000.00')], ['2025', '0000', '09', '0000000263', Decimal('8700.00')], ['2025', '0000', '09', '0000000264', Decimal('8700.00')], ['2025', '0000', '09', '0000000265', Decimal('8700.00')], ['2025', '0000', '09', '0000000266', Decimal('8700.00')], ['2025', '0000', '09', '0000000267', Decimal('2400.00')], ['2025', '0000', '00', '0000000269', Decimal('1317316.60')], ['2025', '0000', '00', '0000000270', Decimal('125013.40')], ['2025', '0000', '00', '0000000271', Decimal('834695.00')], ['2025', '0000', '00', '0000000272', Decimal('1746.00')], ['2025', '0000', '00', '0000000274', Decimal('34649708.72')], ['2025', '0000', '09', '0000000275', Decimal('18000.00')], ['2025', '0000', '09', '0000000276', Decimal('18000.00')], ['2025', '0000', '09', '0000000277', Decimal('18000.00')], ['2025', '0000', '09', '0000000278', Decimal('18000.00')], ['2025', '0000', '09', '0000000280', Decimal('18000.00')], ['2025', '0000', '09', '0000000281', Decimal('19200.00')], ['2025', '0000', '09', '0000000282', Decimal('18000.00')], ['2025', '0000', '09', '0000000283', Decimal('18000.00')], ['2025', '0000', '09', '0000000284', Decimal('18000.00')], ['2025', '0000', '09', '0000000285', Decimal('18000.00')], ['2025', '0000', '09', '0000000287', Decimal('3000.00')], ['2025', '0000', '09', '0000000288', Decimal('3000.00')], ['2025', '0000', '09', '0000000289', Decimal('16500.00')], ['2025', '0000', '09', '0000000290', Decimal('3200.00')], ['2025', '0000', '09', '0000000291', Decimal('3000.00')], ['2025', '0000', '09', '0000000292', Decimal('3200.00')], ['2025', '0000', '09', '0000000293', Decimal('4700.00')], ['2025', '0000', '09', '0000000294', Decimal('4100.00')], ['2025', '0000', '09', '0000000295', Decimal('4700.00')], ['2025', '0000', '09', '0000000296', Decimal('10100.00')], ['2025', '0000', '09', '0000000297', Decimal('9600.00')], ['2025', '0000', '09', '0000000298', Decimal('4400.00')], ['2025', '0000', '09', '0000000299', Decimal('3900.00')], ['2025', '0000', '09', '0000000300', Decimal('9600.00')], ['2025', '0000', '09', '0000000301', Decimal('3200.00')], ['2025', '0000', '09', '0000000303', Decimal('90000.00')], ['2025', '0000', '09', '0000000304', Decimal('9000.00')], ['2025', '0000', '09', '0000000305', Decimal('8700.00')], ['2025', '0000', '09', '0000000306', Decimal('8700.00')], ['2025', '0000', '09', '0000000307', Decimal('7200.00')], ['2025', '0000', '09', '0000000308', Decimal('9050.00')], ['2025', '0000', '09', '0000000309', Decimal('5400.00')], ['2025', '0000', '09', '0000000310', Decimal('8400.00')], ['2025', '0000', '09', '0000000311', Decimal('6500.00')], ['2025', '0000', '09', '0000000312', Decimal('1450.00')], ['2025', '0000', '09', '0000000313', Decimal('44800.00')], ['2025', '0000', '09', '0000000314', Decimal('35200.00')], ['2025', '0000', '09', '0000000315', Decimal('24464.72')], ['2025', '0000', '09', '0000000316', Decimal('3449.00')], ['2025', '0000', '09', '0000000317', Decimal('2400.00')], ['2025', '0000', '09', '0000000318', Decimal('2400.00')], ['2025', '0000', '09', '0000000319', Decimal('2400.00')], ['2025', '0000', '09', '0000000320', Decimal('2640.00')], ['2025', '0000', '09', '0000000321', Decimal('2400.00')], ['2025', '0000', '09', '0000000322', Decimal('2050.00')], ['2025', '0000', '09', '0000000323', Decimal('2400.00')], ['2025', '0000', '09', '0000000324', Decimal('1800.00')], ['2025', '0000', '09', '0000000325', Decimal('1800.00')], ['2025', '0000', '09', '0000000326', Decimal('4588.00')], ['2025', '0000', '09', '0000000327', Decimal('3108.40')], ['2025', '0000', '09', '0000000328', Decimal('13072.00')], ['2025', '0000', '09', '0000000329', Decimal('26832.00')], ['2025', '0000', '09', '0000000330', Decimal('15824.00')], ['2025', '0000', '09', '0000000331', Decimal('16512.00')], ['2025', '0000', '09', '0000000332', Decimal('18576.00')], ['2025', '0000', '09', '0000000333', Decimal('15136.00')], ['2025', '0000', '09', '0000000334', Decimal('22800.00')], ['2025', '0000', '09', '0000000335', Decimal('0.00')], ['2025', '0000', '00', '0000000336', Decimal('52774.32')], ['2025', '0000', '09', '0000000337', Decimal('3400.00')], ['2025', '0000', '09', '0000000338', Decimal('3000.00')], ['2025', '0000', '09', '0000000339', Decimal('3200.00')], ['2025', '0000', '09', '0000000340', Decimal('9160.00')], ['2025', '0000', '09', '0000000341', Decimal('3618.24')], ['2025', '0000', '09', '0000000342', Decimal('9302.00')], ['2025', '0000', '09', '0000000343', Decimal('1369.00')], ['2025', '0000', '09', '0000000344', Decimal('2239.00')], ['2025', '0000', '09', '0000000345', Decimal('3782.16')], ['2025', '0000', '09', '0000000346', Decimal('1440.00')], ['2025', '0000', '09', '0000000347', Decimal('1876.00')], ['2025', '0000', '09', '0000000348', Decimal('4227.40')], ['2025', '0000', '09', '0000000349', Decimal('82276.48')], ['2025', '0000', '09', '0000000350', Decimal('15600.00')], ['2025', '0000', '09', '0000000351', Decimal('21100.00')], ['2025', '0000', '09', '0000000352', Decimal('19574.40')], ['2025', '0000', '09', '0000000353', Decimal('55265.78')], ['2025', '0000', '09', '0000000354', Decimal('6228.04')], ['2025', '0000', '09', '0000000355', Decimal('10618.00')], ['2025', '0000', '09', '0000000356', Decimal('2000.00')], ['2025', '0000', '09', '0000000357', Decimal('3168.18')], ['2025', '0000', '09', '0000000358', Decimal('2206.00')], ['2025', '0000', '09', '0000000359', Decimal('7000.00')], ['2025', '0000', '09', '0000000360', Decimal('4020.00')], ['2025', '0000', '09', '0000000361', Decimal('2432.62')], ['2025', '0000', '09

In [54]:
import pandas as pd
from psycopg2 import errors  #
pd.set_option('display.float_format', '{:,.2f}'.format)
def get_consolidado_df():
    raw = get_consolidado()
    df = pd.DataFrame(
        raw,
        columns=['anio', 'cod_siaf_area', 'siaf_fuente','certificado','monto_clasificador']
    )
    df['monto_clasificador'] = df['monto_clasificador'].astype(float)
    return df

# Uso
df_1 = get_consolidado_df()
print(df_1)

      anio cod_siaf_area siaf_fuente certificado  monto_clasificador
0     2025          0000          00  0000000001        8,406,955.48
1     2025          0000          00  0000000002      263,809,773.38
2     2025          0000          00  0000000003       11,412,972.00
3     2025          0000          00  0000000004        7,976,388.27
4     2025          0000          00  0000000005        3,561,790.72
...    ...           ...         ...         ...                 ...
2354  2025          0000          09  0000002533           11,296.30
2355  2025          0000          09  0000002536           38,400.00
2356  2025          0000          09  0000002542           90,000.00
2357  2025          0000          00  0000002544           20,000.00
2358  2025          0000          09  0000002545            2,000.00

[2359 rows x 5 columns]

In [67]:
import pandas as pd

def create_insert_consolidado(row):

    def val(v):
        # Si quisieras tratar None o NaN:
        if pd.isna(v):
            return 'NULL'
        return v

    query = f"""
    INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados
      (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)
    VALUES (
      {int(val(row['anio']))}::integer,
      '{val(row['cod_siaf_area'])}'::varchar,
      '{str(val(row['siaf_fuente']))}'::varchar,
      '{val(row['certificado'])}'::varchar,
      {float(val(row['monto_clasificador']))}::numeric
    )
    ON CONFLICT DO NOTHING;
    """
    # Lo comprimimos en una sola lnea si lo quieres as
    return query.replace("\n", " ")

# --- Uso ---

# Generas todos los INSERTs
insert_statements = [
    create_insert_consolidado(row)
    for _, row in df_1.iterrows()
]

# Opcional: los imprimes o los ejecutas
for sql in insert_statements:
    print(sql)
    # cur.execute(sql)  # si quieres ejecutarlos directamente
# conn.commit()

     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '00'::varchar,       '0000000001'::varchar,       8406955.48::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '00'::varchar,       '0000000002'::varchar,       263809773.38::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '00'::varchar,       '0000000003'::varchar,       11412972.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '00'::varchar,       '0000000004'::varchar,       7976388.27::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '00'::varchar,       '0000000005'::varchar,       3561790.72::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '00'::varchar,       '0000000006'::varchar,       403200.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '00'::varchar,       '0000000007'::varchar,       51016520.09::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000008'::varchar,       78440.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000009'::varchar,       100000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000010'::varchar,       4000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000011'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000012'::varchar,       50000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000013'::varchar,       50000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000014'::varchar,       10000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000015'::varchar,       22000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000016'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000017'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000018'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000019'::varchar,       30000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000020'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000021'::varchar,       30000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000022'::varchar,       40000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000023'::varchar,       24000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000024'::varchar,       32000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000025'::varchar,       10000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000026'::varchar,       30000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000027'::varchar,       60000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000028'::varchar,       9000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000029'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000030'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000031'::varchar,       120000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000032'::varchar,       40000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000033'::varchar,       10000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000034'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000035'::varchar,       24000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000036'::varchar,       54000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000037'::varchar,       50000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000038'::varchar,       40000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000039'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000040'::varchar,       30000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000041'::varchar,       12000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000042'::varchar,       40000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000043'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000044'::varchar,       40000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000045'::varchar,       30000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000046'::varchar,       30000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000047'::varchar,       20000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000048'::varchar,       40000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000049'::varchar,       14000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000050'::varchar,       8000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000051'::varchar,       16000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000052'::varchar,       18000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000053'::varchar,       6000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000054'::varchar,       4000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000055'::varchar,       6000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000056'::varchar,       10000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000057'::varchar,       10000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000058'::varchar,       12000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000059'::varchar,       2000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000060'::varchar,       6000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000061'::varchar,       30000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000062'::varchar,       90000.0::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000064'::varchar,       14943602.58::numeric     )     ON CONFLICT DO NOTHING;
     INSERT INTO sistema_informacion_gerencial.hechos_institucional_consolidados       (anio, cod_siaf_area, fuente_siaf, num_certificado, monto)     VALUES (       2025::integer,       '0000'::varchar,       '09'::varchar,       '0000000065'::varchar,       619200.0::numeric     )     ON CONFLICT DO NOTHING;

In [68]:
output_path = 'inserts.sql'

with open(output_path, 'w', encoding='utf-8') as f:
    # Escribimos cada sentencia en una lnea nueva
    for sql in insert_statements:
        f.write(sql + '\n')

print(f"Archivo SQL generado en: {output_path}")

Archivo SQL generado en: inserts.sql